<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.DefaultCompany.Final_Project_3D"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-permission android:name="android.permission.INTERNET" />

	<application>

		<activity>
			android:name="com.unity3d.player.UnityPlayerActivity"
			<!-- Đây là activity mặc định của Unity -->
			android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize"
			android:launchMode="singleTask"
			android:screenOrientation="landscape">

			<!-- Đây là activity sẽ được khởi động khi người dùng mở ứng dụng -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>
</manifest>
